################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/runtimeCompilation/v14
/runtimeCompilation.VC.VC.opendb
/runtimeCompilation.VC.db
/runtimeCompilation.vcxproj.user
/saxpy.exe
/saxpy.obj
